<%= form_for [:my, @list] do |f|%>
  
  <% if f.object.errors.any? %>
    <div class="alert alert-error">
      <strong>Woops! Try again after fixing the following things:</strong><br/>
      <ul>
        <% f.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <% if false %>
      <%= f.autocomplete_field :name, autocomplete_item_name_items_path %> 
  <% end %>
    
<% end %>