<h4>Add a new item<h4>

<%= render :partial => 'form' %>
<%= link_to "Change Location", '#', :class => "btn btn-mini btn-primary" %>

<h1>Current list:</h1>

<ul>
  <% @list.items.each do |item| %>
    <li><%= item.name %></li>
  <% end %>
</ul>