<h3>Find the cheapest organic food in your area</h3>

<h4>Add a new item<h4>

<%= render :partial => '/items/form' %>
<%= link_to "Change Location", '#', :class => "btn btn-mini btn-primary" %>
<h1>Current list:</h1>

