<%= form_for @item do |f|%>

  <% if f.object.errors.any? %>
    <div class="alert alert-error">
      <strong>Woops! Try again after fixing the following things:</strong><br/>
      <ul>
        <% f.object.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :name %>
  <%= f.submit "Enter" %>
<% end %>